
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#btn").click(function () {
            var pass = $("#pass").val();
            var cpass = $("#cpass").val();
            var changpass = { password: pass, Cpassword: cpass};
            $.getJSON("/UserMGMT/Changepass", changpass, function (data) {
                alert(data);
                $("#pass").val("");
                $("#cpass").val("");
                window.location.href = '/Home/LogIn';
            })
        })
    })
</script>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 p-5" style="border:1px solid gray;border-radius:10px;">
        <h2 class="text-center">Change Password</h2><br />
        <label><b>New Password:</b></label><br />
        <input type="password" placeholder="Enter Your New Password" id="pass" class="form-control" /><br />
        <label><b>Confrim New Password:</b></label>
        <input type="password" placeholder="Enter Your Confrim New Password" id="cpass" class="form-control" /><br />
        <button class="btn btn-success" id="btn">Change Password</button>
    </div>
</div>